shamefully-hoist=true
strict-peer-dependencies=false
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=KIlehlEIoPZH2ZsMP9kWVa/Lc+1MXgU+Naf6ZHmxrWl/rJfHceLyy8zcjf+eeI7I