@font-face {
  font-family: "iconfont"; /* Project id 4431001 */
  src: url('iconfont.woff2?t=1724851140377') format('woff2'),
       url('iconfont.woff?t=1724851140377') format('woff'),
       url('iconfont.ttf?t=1724851140377') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-manage:before {
  content: "\e6cb";
}

.icon-topic:before {
  content: "\e620";
}

.icon-about-o:before {
  content: "\e7a6";
}

.icon-fangkeshu:before {
  content: "\e65e";
}

.icon-life-solid:before {
  content: "\e7aa";
}

